<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户导入</title>
    <!-- 导入默认样式 -->
    <link rel="stylesheet" th:href="@{/easyui/themes/default/easyui.css}" href="../static/easyui/themes/default/easyui.css">
    <link rel="stylesheet" th:href="@{/easyui/themes/icon.css}" href="../static/easyui/themes/icon.css">
    <link rel="icon" th:href="@{favicon.ico}" href="favicon.ico" type="image/x-icon" />

    <!-- 因为easyui依赖jQuery框架,所以将JQuery放在最前面 -->
    <script type="text/javascript" src="../static/easyui/jquery.min.js" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" src="../static/easyui/jquery.easyui.min.js" th:src="@{/easyui/jquery.easyui.min.js}"></script>

    <!-- 导入local -->
    <script type="text/javascript" src="../static/easyui/locale/easyui-lang-zh_CN.js" th:src="@{/easyui/locale/easyui-lang-zh_CN.js}"></script>

</head>

<body>
<div id="tb">
    <a href="javascript:showUserAddWin" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">增加</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">编辑</a>
</div>

<table id="userDataGrid">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'adminId',width:100">编号</th>
        <th data-options="field:'adminAccount',width:100">账号</th>
        <th data-options="field:'adminName',width:100,align:'right'">姓名</th>
        <th data-options="field:'adminPwd',width:100,align:'right'">密码</th>
        <th data-options="field:'adminCreateDate',width:100,align:'right'">创建日期</th>
        <th data-options="field:'adminStatus',width:100,align:'right'">状态</th>
        <th data-options="field:'roleId',width:100,align:'right'">角色</th>
    </tr>
    </thead>
</table>

<!--<div id="winUserAdd" class="easyui-window" style="width: 600px;height: 400px" data-options="modal:true,close:true">-->
<!--    Window Content-->
<!--</div>-->
<script>
    $("#userDataGrid").datagrid({
        url:'[[@{/admin/list}]]',
        toolbar:'#tb',
        pagination:true,
        fit:true
    });

    var showUserAddWin=function () {
        $("#winUserAdd").window("open");
    }
</script>
</body>
</html>